body {
    display: block;
    font-family: Papyrus, fantasy;
}

/* Sets Gradient color of Nav Bar. */

nav {
    background: linear-gradient(To bottom, rgb(219, 12, 219), rgb(150, 71, 150), rgb(94, 74, 94));
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* Modifies the links for the Navigation Bar*/

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0 10px;
}

/* Utilize to adjust the speed of the "pop out" and color of the links when hovered over */

nav a {
    display: block;
    color: #1ed1b3;
    font-size: 50px;
    padding: 14px 16px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: yellow;
    transform:scale(1.2)
}

/* Makes the header larger then other headers */

h1 {
    font-size:300%;
}

/* Creates extra spacing between the elements and headers */

h1, h2, h3 {
    padding-left: 20px;
}

h2, h3 {
    font-style: italic;
}

p {
    text-indent: 20px;
    padding-left: 20px;
    line-height: 2.0;
}

/* Modifies Profile Picture */
#me {
    float:left;
    margin-right: 30px;
    border-radius:50%;
    width: 200px;
    height:200px;
    
}

.projects {
display:flex;
justify-content: space-between;
}

.projects img {
    width: 200px;
    height: 200px;
}