/* Sets the default margin, padding, and box-sizing propertires for all HTML elements. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Sets the height off all HTML Elements */
html {
    height: 100%;
}

/* Sets the font and background color for the entire page. */
body {
    min-height: 100%;
    background-color:rgb(32, 27, 44);
    font-family: Papyrus, fantasy;
    color:white;
}

/* Sets the overflow, border, and positioning for the NAV bar. */

nav {
    
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
}

/* Sets all the links into a row with even spacing in the nav bar */
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0 10px;
}

/* Adjusts the speed of the "pop out" and color of the links when hovered over */

nav a {
    display: block;
    color: blue;
    font-size: 300%;
    padding: 14px 16px;
    transition: all 0.3s ease-in-out;
}

/* Modifies how large the links grow on hover and the color they transition too. */
nav a:hover {
    color: yellow;
    transform:scale(1.2)
}

a:visited {
    color:blue;
}

/* This block Styles the headers for the page.*/

h1 {
    font-size: 300%;
    padding-top: 20px;
    text-align: center;
}

h2 {
    font-size: 250%;
    border-top: 1px solid;
    padding-top: 20px; 
    text-align:center;
    font-style:italic;   
}

h3 {
    text-align: center;
    font-size:150%;
    font-style:italic;
}

/* Creates extra spacing between the elements and headers.
Adds a border to each header and changes he header's colors.*/

h1, h2, h3 {
    padding-left: 20px;
    padding-bottom: 20px;
    color: #975cf5;
    border-color: white;
}

/* Creates extra spacing between sentances and paragraphs. */

p {
    text-indent: 20px;
    padding-left: 20px;
    line-height: 2.0;
}

/* Modifies Profile Picture */

.container {
    display:flex;
    padding-left: 8px;
}

/* Places all 4 pargaraphs into a column and centered to the left of the Profile image. */

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

/* Changes the font size of the Paragraphs for the About Me section */

.about-size {
    font-size: 150%;
    margin-bottom: 2%;
}

.container-projects {
display:flex;
align-items:center;
justify-content: center;
margin-bottom: 2%;
}

/* Modifies the "Shadow" around the 1st project image as well as the color. */
#accessibility {
    border-radius: 50%;
    box-shadow: 8px 8px 20px black;
    transition: all 0.3s ease-in-out;
}

/* Change how large the image grows on hover. */

#accessibility:hover {
    transform:scale(1.1);
}

/* creates a flex box containing the 2 project images per row and centers them. */

.project-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

/* Modifies the "Shadow" on the project pictures and adjust the transition speed */
.project-img {
    border-radius: 50%;
    box-shadow: 4px 4px 10px black;
    transition: all 0.3s ease-in-out;
}
/* Adds a *Pop Out* effect on hover */
.project-img:hover {
    transform:scale(1.1);
}

/* Modifies the Gif image for Market Monitor section */
.gif-image {
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

/* Adds a *Pop Out* effect on hover */
.gif-image:hover {
  transform: scale(1.1);
}

#social-media-links {
    display: flex;
    justify-content: center;
    align-items:center;
    list-style: none;
    padding-left: 20px;
    margin: 0;
}

#social-media-links li {
    font-size: 125%;
}

#social-media-links li img {
    max-width: 20%;
    max-height: 100%;
}

/* Border, color, and text align property for the footer */
footer {
    border-top: 2px solid;
    border-color: white;
    text-align:center;
}

/* CSS rules for tablet-sized screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    nav a {
      font-size: 200%;
    }
  
    .text-box {
      margin-left: 10px;
    }
  
    .project-img {
      max-width: 60%;
    }
  
    #social-media-links li img {
      max-width: 15%;
    }
  
    h1, h2, h3 {
      font-size: 250%;
    }
  
    p {
      font-size: 120%;
    }
  }

/* CSS style for Smart Phones */

@media only screen and (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 10px 0;
    }
  
    nav a {
      font-size: 200%;
    }
  
    .container {
      flex-direction: column;
      justify-content:center;
      align-items: center;
    }
  
    .text-box {
      margin: 20px 0;
      align-items: center;
    }
  
    .about-size {
      font-size: 120%;
      text-align: center;
    }
  
    .container-projects {
      flex-direction: column;
    }

    #accessibility {
        width: 300px;
        height: 300px;
    }
  
    .project-rows {
      justify-content: center;
    }
  
    .project-img {
      margin-bottom: 20px;
    }
  
    #social-media-links {
        flex-direction: column;
        justify-content: center;
    }
  
    #social-media-links li {
      margin-right: 20px;
    }
  
    #social-media-links li img {
      max-width: 15%;
    }

    footer {
        position: static;
        margin-top: 20px;
      }
}