* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    height: 100%;
}

/* Sets the font and background color for the entire page. */
body {
    min-height: 100%;
    background-color:rgb(32, 27, 44);
    font-family: Papyrus, fantasy;
    color:white;
}

/* Sets Gradient color of Nav Bar. */

nav {
    
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
}

/* Modifies the links for the Navigation Bar*/

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0 10px;
}

/* Utilize to adjust the speed of the "pop out" and color of the links when hovered over */

nav a {
    display: block;
    color: blue;
    font-size: 300%;
    padding: 14px 16px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: yellow;
    transform:scale(1.2)
}

a:visited {
    color:blue;
}

/* Makes the header larger then other headers */

h1 {
    font-size: 300%;
    padding-top: 20px;
    text-align: center;
}

h2 {
    font-size: 250%;
    border-top: 1px solid;
    padding-top: 20px; 
    text-align:center;   
}

h3 {
    text-align: center;
    font-size:150%;
}

/* Creates extra spacing between the elements and headers */

h1, h2, h3 {
    padding-left: 20px;
    padding-bottom: 20px;
    color: #975cf5;
    border-color: white;
}

h2, h3 {
    font-style: italic;
}

p {
    text-indent: 20px;
    padding-left: 20px;
    line-height: 2.0;
}

/* Modifies Profile Picture */

.container {
    display:flex;
}

#img-box {
outline: 2px; white;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.about-size {
    font-size: 150%;
    margin-bottom: 2%;
}

.container-projects {
display:flex;
align-items:center;
justify-content: center;
margin-bottom: 2%;
}

#accessibility {
    border-radius: 50%;
    box-shadow: 8px 8px 20px black;
    transition: all 0.3s ease-in-out;
}

#accessibility:hover {
    transform:scale(1.1);
}

.project-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

.project-img {
    border-radius: 50%;
    box-shadow: 4px 4px 10px black;
    transition: all 0.3s ease-in-out;
}

.project-img:hover {
    transform:scale(1.1);
}

#social-media-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#social-media-links li {
    margin-right: 10px;
    font-size: 125%;
}

#social-media-links li img {
    padding-left: 10px;
    max-width: 20%;
    max-height: 100%;
}

footer {
    border-top: 2px solid;
    border-color: white;
    text-align:center;
}
